[submodule "control/sys"]
	path = control/sys
	url = git@github-sys-core:it-pal-net/sys-core.git
[submodule "control/scs"]
	path = control/scs
	url = git@github-scs-core:it-pal-net/scs-core.git
[submodule "webhook/repo"]
	path = webhook/repo
	url = git@github.com:adnanh/webhook.git
[submodule "mailserver/repo"]
	path = mailserver/repo
	url = git@github.com:docker-mailserver/docker-mailserver.git
[submodule "control/docs/memory-alive-docs"]
	path = control/docs/memory-alive-docs
	url = git@github-memory-alive-docs:VladimirPal/memory-alive-docs.git
[submodule "chat/synapse/repo"]
	path = chat/synapse/repo
	url = https://github.com/element-hq/synapse.git
	branch = develop
[submodule "synapse"]
	branch = develop
[submodule "chat/mas/repo"]
	path = chat/mas/repo
	url = https://github.com/element-hq/matrix-authentication-service.git
	branch = main
[submodule "mas"]
	branch = main
[submodule "chat/element-web/repo"]
	path = chat/element-web/repo
	url = https://github.com/element-hq/element-web.git
	branch = develop
[submodule "element-web"]
	branch = develop
[submodule "chat/synapse/s3provider/repo"]
	path = chat/synapse/s3provider/repo
	url = git@github.com:matrix-org/synapse-s3-storage-provider.git
	branch = main
[submodule "synapse-s3provider"]
	branch = main
