http:
  listeners:
    - name: web
      resources:
        - name: discovery
        - name: human
        - name: oauth
        - name: compat
        - name: graphql
        - name: assets
      binds:
        - address: "[::]:8080"
      proxy_protocol: false
      trusted_proxies:
        - 192.168.0.0/16
        - 172.16.0.0/12
        - 10.0.0.0/10
        - 127.0.0.1/8
        - fd00::/8
        - ::1/128
    - name: internal
      resources:
        - name: health
        - name: adminapi
      binds:
        - address: "[::]:8081"
      proxy_protocol: false
  public_base: https://matrix-auth.aiemotion.net
  issuer: https://matrix-auth.aiemotion.net
upstream_oauth2:
  providers:
    - id: 01KHDZGGEAJ3W2Q5XVQQS4TDWF
      human_name: Authentik
      issuer: "https://id.aiemotion.net/application/o/chat-aiemotion-net/"
      client_id: "gcFGHcxhAaJFttPE4etCHpMPAo5sHjrahiUHf4h6"
      client_secret_file: /keys/upstream-authentik-client.secret
      token_endpoint_auth_method: "client_secret_basic"
      scope: "openid profile email"
      fetch_userinfo: true
      claims_imports:
        localpart:
          action: require
          template: "{{ user.preferred_username }}"
      displayname:
        action: suggest
        template: "{{ user.name }}"
      email:
        action: suggest
        template: "{{ user.email }}"
        set_email_verification: alway
database:
  uri: postgresql://mas_user:mas_password@postgresql-chat:5432/mas
  max_connections: 10
  min_connections: 0
  connect_timeout: 30
  idle_timeout: 600
  max_lifetime: 1800
email:
  from: '"Authentication Service" <root@aiemotion.net>'
  reply_to: '"Authentication Service" <root@aiemotion.net>'
  transport: blackhole
secrets:
  encryption_file: /keys/mas-encryption.hex
  keys:
    - key_file: /keys/oidc-rsa.pem
    - key_file: /keys/oidc-ec-p256.pem
    - key_file: /keys/oidc-ec-p384.pem
    - key_file: /keys/oidc-ec-secp256k1.pem
passwords:
  enabled: true
  schemes:
    - version: 1
      algorithm: argon2id
  minimum_complexity: 3
account:
  account_deactivation_allowed: false
matrix:
  kind: synapse
  homeserver: aiemotion.net
  secret_file: /keys/synapse-mas-secret.txt
  endpoint: https://aiemotion.net/
clients:
  - client_id: 01K779SBQHB75YW7RAZNKVZWER
    client_auth_method: client_secret_basic
    client_secret_file: /keys/client-01K779SBQHB75YW7RAZNKVZWER.secret
policy:
  data:
    admin_users:
      - admin
    admin_clients:
      - 01K779SBQHB75YW7RAZNKVZWER
    client_registration:
      allow_host_mismatch: true
      allow_insecure_uris: true
      allow_missing_client_uri: true
      allow_missing_contacts: true
telemetry:
  tracing:
    propagators:
      - tracecontext
      - baggage
      - jaeger
    exporter: none
  metrics:
    exporter: none
